<html>
<header>
  <title>Week6Frontend</title>
</header>

<body>
  <div>
    <p>Pick a student, by ID</p>
    <div>
      <div class="display"></div>
      <!-- action attribute is the form handler -->
      <!-- method attribute is the HTTP method to be used -->
      <form action="input_ID" method="POST">
        <fieldset>
          <legend>Your id:</legend>
          <input required autocomplete="off" type="text" name="amount" />
        </fieldset>
        <br>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</body>

</html>